<!DOCTYPE html>
<html>
  <head>
    <title>The Highly</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="description" content="A guide to the good good">

    <meta name="msvalidate.01" content="B8642FBDC21180A0750369FBB35B6C99" />

    <meta name="google-site-verification" content="Fp6J5OIWxH5F3ej1SXbn7m8sB9kk97Q1O53WUJFCBdg" />

    <meta name="author" content="Biohelpers Compassionate Cleaning"/>
    <meta name="revisit-after" content="1 day"/>
    <meta name="content-Language" content="English"/>
    <meta name="distribution" content="Local, 50 Miles"/>
    <meta name="copyright" content="http://biohelpers.com/"/>
    <meta name="robots" content="index, follow"/>
    <meta name="Classification" content="Bio HelpersBio Helpers, Compassionate Cleaners">
    <meta name="city" content="New Jersey"/>
    <meta name="city" content="Philadelphia"/>
    <meta name="city" content="Phoenix"/>
    <meta name="city" content="Tucson"/>
    <meta name="state" content="NJ"/>
    <meta name="Phone Number" content="800-484-0317"/>
    <meta name="geo.region" content="US-NJ">
    <meta name="geo.placename" content="New Jersey, Philadelphia, Phoenix, Tucson, United States">

    <%= render partial: 'open_graph' %>

    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>

    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window,document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '2007344969588619');
      fbq('track', 'PageView');
    </script>
    <noscript>
    <img height="1" width="1"
    src="https://www.facebook.com/tr?id=2007344969588619&ev=PageView
    &noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->
  </head>

  <body>
    <%= yield %>
  </body>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110085131-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-110085131-1');
  </script>

</html>
